body {
  background-color: #FFFFFC;
  font-family: arial, sans-serif;
  color: #02040F;
}

.wrapper {
  background-color: #DBE4EE
  text-align:center;
}

h1 {
  text-align: center;
  margin-bottom: .5em;
  background-image: url(../images/double-bubble.png);
}

image center-image {
  font-style: italic;
  font-size: 2em;
}

h2, h3, h4 {
  font-size: 2em;
  font-style: italic;
  background-color: #F9E9EC;
}
