body {
  background-color: #F4FAFF;
  font-family: arial, sans-serif;
  color: #040303;
  text-align: left;
}

h1 {
  color: #1C110A;
  font-style: italic;
  text-align: center;
}

h2, h3, h4, h5 {
  font-size: 2em;
  color: #9B2915;
  text-align: center;
}

header {
  text-align: center;
  background-color: #FDF0D5;
}

image {
  align-items: center;
}

p {
  font-style: italic;
}

footer {
  font-style: italic;
  text-align: center;
}
