body {
  background-color: #F4FAFF;
  font-family: arial, sans-serif;
  color: #040303;
  text-align: left;
  border: 2px solid #040303;
}

h1 {
  color: #1C110A;
  font-style: italic;
  text-align: center;
  border-bottom: 2px;
}

h2, h3, h4, h5 {
  font-size: 2em;
  color: #9B2915;
  text-align: center;
  margin-bottom: .5px solid #040303;
}

header {
  text-align: center;
  background-color: #FDF0D5;
}

image {
  align-items: center;
}

p {
  font-style: italic;
  text-align: center;
}

footer {
  font-style: italic;
  text-align: center;
}
